{% raw %}{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a> 
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
          <span class="sr-only">Permalink</span>
        </a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      {% endif %}
    </h2>

    {# 仅保留日期和期刊信息 #}
    {% if post.collection == 'publications' %}
      <p>Published in <i>{{ post.venue }}</i>, 
      {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% endif %}

    {# 仅显示论文下载链接和引用 #}
    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}
    
    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}" class="btn btn--primary">Full Text</a></p>
    {% endif %}

  </article>
</div>{% endraw %}
